<div class = "header">
  <% if user_signed_in? && @user.allowed == true %>
    <div class = "message-list">
        <div  class = "message-list-word">
          <%= link_to  "Messages" ,"/users_rooms", method: :get ,class: "message-list-word"  %>
        </div>
    </div>
  <% end %>

  <%= link_to 'Escape Route', "/routes", method: :get ,class: "header-logo-word" %>

  <div class = "authentication">
  <% if user_signed_in? %>
    <div class="user-sign-out">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: 'user-log-out'  %>
    </div>
  <% else %>
    <div class="user-sign">
      <%= link_to "ログイン", new_user_session_path, class: 'user-log-in' %>
        <%= link_to "新規登録", new_user_registration_path, class: 'user-sign-in' %>
    </div>
  <% end %>
  </div>
</div>
