<%= render 'shared/header' %>

<div class = "input-field">
  <div class = "input-field__text">
    <%= form_with model: @notify,local: true do |f| %>
      <div class='school-info'>
        <div class = "school">
          学校名:
            <%= f.text_field :school, class:"input-name-of-school" %>
            <div class = "necessary">※入力必須</div>
        </div>

        <div class = "grade">学年:
        <%= f.select :grade, [ ["1", "1"], ["2", "2"], ["3" , "3"] ,["4" , "4"] ,["5" , "5"] ,["6" , "6"]  ], :prompt => "選択してください" %>
        <div class = "necessary">※入力必須</div>
        </div>
      </div>

      <div class = "message">
      <label for="message">メッセージ:
      <%= f.text_area :text,placeholder:"状況など簡潔にご説明ください" %>

      <div class = "necessary">※入力必須</div>
      </label>
      </div>

      <div class = "proof">
        画像・動画・音声など:
          <%= file_field :image, class: "image", style: "display:none;" %>
        <div class = "any">※推奨</div>
      </div>

      <input type="submit" value="送信" class="submit-btn";>
    <% end %>
  </div>
</div>
